version: '3.8'

services:
  portfolio-web:
    build:
      context: .
    container_name: portfolio-web
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./acesso.json:/app/acesso.json